{% extends "blog/base.html" %}
{% block content %}
{% endblock %}
<h1 class="postitle loader">{{ post.title }}</h1>
{% if post.published_date %}
<div class="date postdate">
    {{post.published_date}}
</div>
{% else %}
<a class="btn btn-default" href="{% url'post-publish"pk="post.pk %}">Publish</a>
{% endif %}
<b>bold text</b>
<p class="postcontent">
    {{ post.title|safe|linebreakshr}}></p>
    {% if user.is_autherticated %}
    <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
        <span class="glyphican glyphican-pencile"></span>
    </a>
  <a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}">
        <span class="glyphican glyphican-remove"></span>
    </a>
{% endif %}
<br>
<a class="btn btn-primary btn comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
<div class="container">
    {% for comment in post.comments.all %}
    <br>
    {% if user.is_autherticated or comment.approved_comment %}
      {{ comment.created_date }}
       {% if not comment.approved_comment %}
          <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
             <span class="glyphican glyphican-remove"></span>
          </a>
          <a class="btn btn-primary" href="{% url 'comment_approve' pk=comment.pk %}">
              <span class="glyphican glyphican-ok"></span>
          </a>

       {% endif %}

    <p>{{comment.text|safe|linebreaks}}</p>
    <p>posted by: {{comment.author}}</p>

    {% endif %}
    {% empty %}
    <p>
        No Comments!
    </p>
  {% endfor %}
</div>